<%= form_with(model: normal_tag) do |form| %>
  <% if normal_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(normal_tag.errors.count, "error") %> prohibited this normal_tag from being saved:</h2>

      <ul>
        <% normal_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
