<p style="color: green"><%= notice %></p>

<h1>Titles</h1>

<table width='100%'>
  <tr><th>Title</th><th>Operation</th><th colspan=3></th></tr>
  <% @titles.each_with_index do |title, i| %>
    <tr>
      <td>
        <%= title.name %>
      </td>
      <td>
        <%= title.operation.name unless title.operation.blank? %>
      </td>
      <td>
        <%= link_to "Show", title %>
      </td>
      <% if i % 10 == 0 %>
        <td><%= link_to "New title", new_title_path %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="4" style='border-bottom: 1px solid #000'>
        <% title.categories.each do |category| %>
         <%= category.name %>&nbsp;
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New title", new_title_path %>
