<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <table>
    <% @categories.each_with_index do |category, i| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to "Show this category", category %></td>
        <% if i % 10 == 0 %>
          <td><%= link_to "New category", new_category_path %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New category", new_category_path %>
