<p style="color: green"><%= notice %></p>

<h1>Products of <%= @user.uid %></h1>

<%= link_to "UserPage", @user %>

<table>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to "Show", product %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New product", new_product_path %>
