<p style="color: green"><%= notice %></p>

<h1>Operations</h1>

<table width='100%'>
    <% @operations.each_with_index do |operation, i| %>
    <tr>
      <td>
        <%= operation.name %>
      </td>
      <td>
        <%= link_to "Show", operation %>
      </td>
      <td>
        <%= link_to "Add Unit", new_unit_path(operation_id:  operation.id) %>
      </td>
      <% if i % 10 == 0 %>
        <td><%= link_to "New operation", new_operation_path %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <tr><td colspan="4" style='border-bottom: 1px solid #000'>
    <% operation.units.each do |unit| %>
      &nbsp;<%= link_to unit.name, edit_unit_path(unit.id) %>
    <% end %>
    </td></tr>
  <% end %>
</table>

<%= link_to "New operation", new_operation_path %>
